<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <div class="main-header__left">
            <div class="main_header__logo">
                <img src="/images/banners/homepage-banner.jpg">
            </div>
            <ul class="main-header__item-list">
                <% menuItems.forEach(item => { %>
                <li class="main-header__item">
                    <a class="<%= path === item.link ? 'active' : '' %>" href="<%= item.link %>"><%= item.name %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        
        <div class="main-header__searchbar">
            <input type="text" placeholder="Search...">
            <button class="btn__rev">Search</button>

            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
